node_modules
.expo
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
App-1-2.js
App-1-3.js
App-1-4.js
App-1-5.js
App-2-ready.js
App-2-start.js
App-2-2.js
App-2-3.js
App-2-4.js
App-2-5a.js
App-2-5b.js
App-3.js
App-3-uitbreiding.js
App-4.js
App-4-AI.js
